<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema experto de videojuegos: sugerencias gamers!</title>
    <style>
      fieldset {
        border: none;
      }
      fieldset > section {
        border-bottom: solid 2px #eeeeee;
        padding-bottom: 1.5rem;
      }
      form button[type="submit"] {
        padding: 0.5rem;
        font-weight: 600;
        border: none;
        border-radius: 10px;
        background: #546e7a;
        color: #fafafa;
      }
    </style>
  </head>
  <body>
    <form action="{{ url_for('devolver') }}" method="post">
      <fieldset>
        <section>
          <h4>Educativo</h4>
          <label>
            Si
            <input type="radio" name="educativo" value="si" />
          </label>
          <label>
            No
            <input type="radio" name="educativo" value="no" />
          </label>
        </section>

        <section>
          <h4>Habitos de estudio</h4>
          <label>
            Si
            <input type="radio" name="Habitos_de_estudio" value="si" />
          </label>
          <label>
            No
            <input type="radio" name="Habitos_de_estudio" value="no" />
          </label>
        </section>

        <section>
          <h4>Emprendimiento</h4>
          <label>
            Si
            <input type="radio" name="emprendimiento" value="si" />
          </label>
          <label>
            No
            <input type="radio" name="emprendimiento" value="no" />
          </label>
        </section>

        <section>
          <h4>Aventura</h4>
          <label>
            Si
            <input type="radio" name="aventura" value="si" />
          </label>
          <label>
            No
            <input type="radio" name="aventura" value="no" />
          </label>
        </section>

        <section>
          <h4>Medieval</h4>
          <label>
            Si
            <input type="radio" name="medieval" value="si" />
          </label>
          <label>
            No
            <input type="radio" name="medieval" value="no" />
          </label>
        </section>

        <section>
          <h4>Piratas</h4>
          <label>
            Si
            <input type="radio" name="piratas" value="si" />
          </label>
          <label>
            No
            <input type="radio" name="piratas" value="no" />
          </label>
        </section>

        <section>
          <h4>Horror</h4>
          <label>
            Si
            <input type="radio" name="horror" value="si" />
          </label>
          <label>
            No
            <input type="radio" name="horror" value="no" />
          </label>
        </section>

        <section>
          <h4>Vampiros</h4>
          <label>
            Si
            <input type="radio" name="vampiros" value="si" />
          </label>
          <label>
            No
            <input type="radio" name="vampiros" value="no" />
          </label>
        </section>

        <section>
          <h4>Infantil</h4>
          <label>
            Si
            <input type="radio" name="infantil" value="si" />
          </label>
          <label>
            No
            <input type="radio" name="infantil" value="no" />
          </label>
        </section>

        <section>
          <h4>Terror</h4>
          <label>
            Si
            <input type="radio" name="terror" value="si" />
          </label>
          <label>
            No
            <input type="radio" name="terror" value="no" />
          </label>
        </section>

        <section>
          <h4>Juvenil</h4>
          <label>
            Si
            <input type="radio" name="juvenil" value="si" />
          </label>
          <label>
            No
            <input type="radio" name="juvenil" value="no" />
          </label>
        </section>

        <section>
          <h4>Zombies</h4>
          <label>
            Si
            <input type="radio" name="zombies" value="si" />
          </label>
          <label>
            No
            <input type="radio" name="zombies" value="no" />
          </label>
        </section>

        <section>
          <h4>Misterio</h4>
          <label>
            Si
            <input type="radio" name="misterio" value="si" />
          </label>
          <label>
            No
            <input type="radio" name="misterio" value="no" />
          </label>
        </section>

      </fieldset>
      <button name="submit" type="submit">Predecir </button>
    </form>
  </body>
</html>
